body {
font-family: Symbol, sans-serif;
font-size: 1.8em;
background-color: #f2f2f2;
margin-left: 3%;
margin-right: 3%;
/*border: ridge;*/
}
.main{
background-color: #cdcd;
}
h1{
margin:0;
padding:2% 2%;

}
.title {
text-align: center;
color: #3399ff;
background-color: #1a1a1a;
}
.menu {
display:block;
background-color: red;
overflow: hidden;
font-size: 1em;
clear: both;
padding: 0px 35px;
}
.pball{
width: 2%;
height: 2%;
}
form{
float:right;
}
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

ul{
display:block;
list-style-type: none;
margin: 0; 
padding: 25px 10%;
}
li {
display: inline;
/*padding: 25px 50px;*/
padding: 10% 1%;
margin: 3%;
margin-left: 4%;
margin-right: 4%;
}
a{
text-decoration: none;
color:black;
}
li a{
color: white;
text-decoration: none;
}
.menuitem:hover {
background-color: #b30000;
}
table {
    border-style:outset;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
#pokemon {
color: black;
font-size: 1em;
font-family: Arial, sans-serif;
}
#move, #info, #epis{
color: black;
font-size: 1em;
font-family: Arial, sans-serif;

}
