body {
font-family: Helvetica, sans-serif;
font-size: 2em;
background-color: black;
}
.title {
text-align: center;
color: blue;
}
.menu {
background-color: red;
overflow: hidden;
font-size: 1em;
clear: both;
padding: 0px 40px;
}
ul{
display:block;
list-style-type: none;
margin: 0; 
padding: 25px 0px;
}
li {
display: inline;
padding: 25px 50px;
}
li a{
color: white;
text-decoration: none;
}
li:hover {
background-color: blue;
}

