body {
font-family: Symbol, sans-serif;
font-size: 1.8em;
background-color: #f2f2f2;
margin-left: 3%;
margin-right: 3%;
/*border: ridge;*/
}
.main{
background-color: #cdcd;
}
h1{
margin:0;
padding:2% 2%;
font-size: 1.8em;
}
.title {
text-align: center;
color: #af0b0b;
background-color: rgba(204, 221, 204, 0.867);
}
.menu {
display:block;
background-color: red;
overflow: hidden;
font-size: 1.3em;
clear: both;
padding: 0px 35px;
}
.menuitem{
margin-left: 4%;
line-height: 3em;

}
.pball{
width: 2%;
height: 2%;
}
.pikachu {
margin-right:4%;
width: 9%;
height: 11%;
float: left;
}
.emolga  {
margin-right:0%;

width: 9%;
height: 5%;
float: right;
}
form{
float:right;
}
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

ul{
display:block;
list-style-type: none;
margin: 0; 
padding: .5% 3% 0% 0%;
}
li {
display: inline;
padding: 10% 0%;
margin: 3%;
margin-left: 1.2%;
margin-right: 1.2%;
}
a{
text-decoration: none;
color:black;
}
li a{
color: white;
text-decoration: none;
}
.menuitem:hover {
background-color: #b30000;
}
table {
    border-style:outset;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
#pokemon {
color: black;
font-size: 1em;
font-family: Arial, sans-serif;
}
#move, #info, #epis{
color: black;
font-size: 1em;
font-family: Arial, sans-serif;

}
